.container {
    display: flex;
    justify-content: space-between;
}

.selects {
    width: 35rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    display: grid;
    gap: 1rem;
}

.title > p {
    font-size: 1.2rem;
}
