.container {
    height: 5rem;
    font-size: 1.2rem;

    border-bottom : .1rem solid var(--line);

    display: grid;
        gap: 2rem;
    align-items: center;
}

/* Mobile First */
.container {
    grid-template-columns: 1fr 1fr;
}

.logo {
    padding-left: 4rem;
}

.logo > svg {
    fill: #269149;
}

.headerMenu {
    height: 100%;
    list-style-type: none;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.headerMenu > li {
    cursor: pointer;
}

.headerMenu > li:nth-child(1) {
    height: inherit;

    border-bottom: .2rem solid #269149;

    display: flex;
    align-items: center;
}

.headerMenu {
    display: none;
}

.sectionTwo,
.sectionTwoMobile {
    height: 100%;

    display: flex;
    align-items: center;
    gap: 2rem;

    place-content: flex-end;
    align-self: center;
}

.sectionTwo {
    display: none;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icons > svg {
    cursor: pointer;
}

.company {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.company:hover {
    outline: 1px solid black
}

.company > div {
    display: flex;
    flex-direction: column;
}

.company > div > span {
    font-size: 1rem;
    color: #0057FF;
}

.iconDashboard {
    padding: .4rem 1rem;
    height: 100%;
    background-color: #269149;

    display: flex;
    align-items: center;
}

.iconDashboard > svg {
    fill: white;
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: max-content max-content 1fr;
    }
    .sectionTwoMobile {
        display: none;
    }

    .headerMenu {
        display: flex;
    }

    .sectionTwo {
        display: flex;
    }
    
}