:root {
    /** Primary Colors **/
    --primary-color: #269149;
    --secondary-color: #48a367;
    --line: #f0f0f0;

    font-size: 62.5% /** 1rem = 10px **/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/**@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
**/
