.main {
    height: calc(100vh - 5rem);
    padding: 2rem 4rem;

    display: grid;
    grid-template-rows: max-content max-content;
    gap: 2rem;
}

.panelDataBox {
    display: grid;
    gap: .5rem;
}

.panelDataBox > p {
    font-size: 1.2rem;
}

.panelDataBox > strong {
    font-size: 1.8rem;
}

.chartHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chartHeader > h3 {
    background-color: #269149;
    color: #fff;
    padding: .7rem;
    border-radius: .4rem;
}

.chartHeader > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.chartHeader > div > span {
    padding: .5rem;
    background-color: rgb(38, 145, 73);
    border-radius: .4rem;
    color: #fff;
    cursor: default;
}

.chartHeader > div > span:nth-child(3) {
    background-color: grey;
}
